@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.border-left-success {
    border-left: 4px solid #4ADE80;
    border-radius: 4px;
}

.border-left-blue {
    border-left: 4px solid #3b82f6;
    border-radius: 4px;
}

@layer components {
    .font_family_smibold {
        @apply font-quicksand font-semibold
    }

    .font_family_bold {
        @apply font-quicksand font-bold
    }

    .font_family_xtra_bold {
        @apply font-quicksand font-extrabold
    }

    .font_family_normal {
        @apply font-quicksand font-normal
    }

    .font_family_medium {
        @apply font-quicksand font-medium
    }

    .font_family_light {
        @apply font-quicksand font-light
    }

    .font_family_xtra_light {
        @apply font-quicksand font-extralight
    }

    .alert {
        @apply flex flex-col p-4 pt-2 w-full border-l-8
    }

    .button-submit {
        @apply bg-blue-500 text-white active: bg-blue-600 w-full rounded shadow hover:shadow-lg outline-none focus:outline-none ease-linear transition-all duration-150
    }

    .base_btn {
        @apply text-sm font-quicksand font-bold py-2.5 px-5
    }

    .custom-modal-dialog {
        padding: 8px;
        background-color: rgb(223, 220, 220);
        position: fixed;
        display: block;
        top: 10vh;
        right: -416px;
        height: 85vh;
        width: 415px;
        border-radius: 4px;
        -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
        -o-transition: opacity 0.3s linear, right 0.3s ease-out;
        transition: opacity 0.3s linear, right 0.3s ease-out;
     
    }

    .custom-modal-dialog::-webkit-scrollbar {
        display: none;
    }

    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    .custom-modal-dialog.show {
        right: 10px;
        -webkit-transition: opacity 0.3s linear, right 0.5s ease-out;
        -moz-transition: opacity 0.3s linear, right 0.5s ease-out;
        -o-transition: opacity 0.3s linear, right 0.5s ease-out;
        transition: opacity 0.3s linear, right 0.5s ease-out;
    }

    .bubble {
        position: relative;
        background: white;
        height: auto;
        /* width: auto; */
        max-width: 370px;
        margin-left: 6px;
        border-radius: 2px;
        border-radius: 5px;
        padding-top: 2px;
        margin-top: 5px;
        padding-bottom: 2px;
        margin-right: 4px;
    }

    .bubble:after {
        content: '';
        position: absolute;
        border: 10px solid transparent;
        border-top: 10px solid white;
        top: 0px;
        left: -10px;
    }

    .bubble2 {
        position: relative;
        background: rgb(220, 238, 241);
        height: auto;
        /* width:auto; */
        max-width: 390px;
        margin-left: 6px;
        border-radius: 2px;
        border-radius: 5px;
        padding-top: 5px;
        padding-bottom: 2px;
        margin-top: 5px;
        padding-right: 3px;
        margin-right: 5px;

    }

    .bubble2:after {
        content: '';
        position: absolute;
        border: 10px solid transparent;
        border-top: 10px solid rgb(220, 238, 241);
        top: 0px;
        right: -10px;
    }
}
/* backdrop filter is not applying through tailwind */
.bubble2-icon i {
    backdrop-filter: blur(24px);
    /* background-size: cover; */
    /* opacity: 100%; */
    /* background-color: black; */
    /* margin-right: 4px; */
    /* margin-top:5px;     */
}

/* CSS for making the child element visible when Parent element is hovered */

/* #parent-bubble2 .AngleDown-hidden-bubble2{
    display: none;
}

#parent-bubble2:hover .AngleDown-hidden-bubble2{
    display: block;
} */



/* YourDatePicker.css */
.custom-date-picker .MuiSvgIcon-root:focus,
.custom-date-picker .MuiSvgIcon-root:active {
    border: none !important;
    /* Remove the border when the calendar icon is focused or active */
}
.MuiButtonBase-root {
    border: none !important;
}

/* CSS for comments section edit functionality */

/* CSS for the dropdown icon */
.options-dropdown {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.options-dropdown ul {
    list-style: none;
    padding: 0;
}

.options-dropdown ul li {
    padding: 10px;
    cursor: pointer;
}

.options-dropdown ul li:hover {
    background-color: #f0f0f0;
}
