@tailwind base;

@tailwind components;

@tailwind utilities;

.border-left-success {
    border-left: 4px solid #4ADE80;
    border-radius: 4px;
  }

  .border-left-blue {
    border-left: 4px solid #3b82f6;
    border-radius: 4px;
  }